* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 14px;
  font-family: Roboto, arial, sans-serif;
  color: #202124;
}

/* header */
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 12%;
}

.profile-img {
  width: 10%;
  border-radius: 50%;
}

/* main */

main {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-logo {
  text-align: center;
}

.main-logo__img {
  height: 92px;
  width: 272px;
}

/* search bar */

.search-bar {
  border: 1px solid #dfe1e5;
  padding: 5px 8px 0 14px;
  border-radius: 24px;
  width: auto;
  max-width: 584px;
  min-height: 44px;
}


/* Google's svgs */

.microphone__svg, .camera-icon__svg {
  height: 24px;
  width: 24px;
}

.magnifying-glass__svg {
  height: 20px;
  width: 20px;
}

.input-bar {
  line-height: 22px;
}

.app-icons__svg {
  width: 6%;
}

/* links */

a {
  text-decoration: none;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 33vw;
  align-items: stretch;
  background-color: #f2f2f2;
  padding: 0 20px;
}

footer a {
  color: #70757a;
}

.footer__left-side, .footer__right-side, .footer__center {
  border: 1px solid blue;
  display: flex;
  align-items: center;
}

.footer__left-side {
  justify-content: flex-start;
  min-width: 30%;
}

.footer__center {
  align-self: center;
}

.footer__right-side {
  justify-content: flex-end;
  min-width: 30%;
}