* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 14px;
  font-family: Roboto, arial, sans-serif;
  color: #202124;
}

/* header */

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1 0 50vw;
  padding: 6px;
  justify-content: space-between;
}

.header__left-side, .header__right-side {
  display: flex;
  align-items: center;
}

.header__left-side {
  justify-content: flex-start;
  height: 48px;
  padding: 5px;
  margin: 0 5px;
  color: #202124;
}

.header__left-side a {
  padding: 5px;
  margin: 0 5px;
}

.header__right-side {
  justify-content: flex-end;
  height: 48px;
  padding: 5px;
  margin: 0 5px;
  font: 13px/27px Roboto, Arial, sans-serif;
}

.header__right-side--links {
  display: inline-block;
  padding-right: 15px;
  margin-right: 5px;
}

.header__right-side--links a, .header__right-side--icons a {
  padding: 5px;
  margin: 0 3px;
}

.header__right-side--icons a:hover {
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

header a {
  color: rgba(0,0,0,.87);
}

.profile-img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  vertical-align: middle;
}

/* main */

main {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-logo {
  text-align: center;
}

.main-logo__img {
  height: 92px;
  width: 272px;
}

/* search area */

.main__form {
  padding: 20px;
  max-height: 160px;
}

.search-area {
  border: 1px solid #dfe1e5;
  padding: 5px 8px 0 14px;
  border-radius: 24px;
  width: 582px;
  max-width: 584px;
  min-height: 44px;
  display: flex;
  justify-content: space-between;
}

.search-area__left {
  display: flex;
  height: 46px;
  width: 500px;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-area__right {
  display: flex;
  align-items: center;
}

.search-area__right a {
  padding: 0 8px;
}

.center-buttons button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
}

#search-bar {
  line-height: 22px;
  font-family: Roboto,arial,sans-serif;
  line-height: 22px;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-size: 16px;
}

/* Google's svgs */

.microphone__svg, .camera-icon__svg {
  height: 24px;
  width: 24px;
}

.magnifying-glass__svg {
  height: 20px;
  width: 20px;
  fill: #9aa0a6;
  margin-top: 3px;
}

.app-icons__svg {
  width: 24px;
  height: 24px;
  fill: #5f6368;
  opacity: 1;
  vertical-align: middle;
}

/* links */

a {
  text-decoration: none;
  margin: 0;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 33vw;
  align-items: stretch;
  background-color: #f2f2f2;
  padding: 0 20px;
}

footer a, .footer__settings {
  color: #70757a;
  padding: 15px;
}

.footer__settings {
  background: none;
  border: none;
}

.footer__left-side, .footer__right-side, .footer__center {
  display: flex;
  align-items: center;
}

.footer__left-side {
  justify-content: flex-start;
  min-width: 30%;
}

.footer__center {
  align-self: center;
}

.footer__center--text {
  padding-left: 0;
}

.leaf-icon {
  height: 14px;
  padding-right: 6px;
}

.footer__right-side {
  justify-content: flex-end;
  min-width: 30%;
}